/********************************
                                      __    __  .__                      
_____  ______ ______     ______ _____/  |__/  |_|__| ____    ____  ______
\__  \ \____ \\____ \   /  ___// __ \   __\   __\  |/    \  / ___\/  ___/
 / __ \|  |_> >  |_> >  \___ \\  ___/|  |  |  | |  |   |  \/ /_/  >___ \ 
(____  /   __/|   __/  /____  >\___  >__|  |__| |__|___|  /\___  /____  >
     \/|__|   |__|          \/     \/                   \//_____/     \/ 


**************************/

$hot-orange : #ff6633;

/**************************/

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header : {
  
}

.utilities {
    .border {    
        &.thin {
            border-width: 1px;
        }
        &.hot-orange {
            border-color: $hot-orange;
        }
    }
    
}

.component_container {
    @extend .utilities;
    border: $hot-orange;
}