extends ../component_layout

block component
  .whats_in_the_pantry_container(ng-controller="whatsInThePantryCtlr")
    header 
    .body
      .form-group
        textarea.form-control(name="pantry",width='80',height='5',ng-model="pantryList")
        label.form-label(for="pantry") Separate items with a comma
    footer
