extends ../component_layout

block component
  .whats_in_the_pantry_container(ng-controller="whatsInThePantryCtlr")
    header 
    .body
      input(id="pantry")
      label Separate items with a comma
    footer
