doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/application_styles.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.css')
    script(src='/bower_components/angularjs/angular.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-animate/angular-animate.min.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap.min.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/bower_components/restangular/dist/restangular.min.js')
    script(src='/bower_components/lodash/dist/lodash.min.js')
    
    
  body(ng-app="ChumpChangeChowChamberApp",ng-controller='applicationController')
    header.container
      .row
        .col-sm-6
          img&attributes({title:title, src : 'images/Logo.fw.png'})
    .container-fluid
      block content
        
    script(src='javascripts/chump_change_chow_chamber_app.js')
    script(src='javascripts/controllers/input_options_controller.js')
    script(src='javascripts/controllers/result_output_controller.js')
    script(src='javascripts/controllers/whats_in_the_pantry_controller.js')
    script(src='javascripts/controllers/avoiding_anything_controller.js')
    script(src='javascripts/controllers/query_manager.js')
    script(src='javascripts/models/recipe_query.js')