extends ../component_layout

block component
  .input_options_container(ng-controller="InputOptionsCtrl")
    accordion(close-others='oneAtATime')
      accordion-group(heading="What's in the pantry?" is-open="true")
        include ../whats_in_the_pantry/component
      accordion-group(heading="What's in the fridge?" is-open="true")
        include ../whats_in_the_pantry/component
      accordion-group(heading="In the mood for... ?" is-open="false")
        include ../whats_in_the_pantry/component
      accordion-group(heading="What's in the pantry" is-open="false")
        include ../whats_in_the_pantry/component
        