//result_output/component.jade
.container(ng-controller="ResultOutputCtlr")
  .row
    header.col-sm-12 
      button.btn.btn-sm(ng-click="doRecipeSearch()") Let's see what we can find...
  .row
    //output junk here